<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>English Learning Assistance</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
    <style>
      body{
        background-color:#c4db85;
      }
    </style>
    <script src="{% static 'js/jsdiff.js' %}"></script>
    {%block top_script%}{%endblock top_script%}
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'recite:index' %}">English Learning Assistance</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'recite:yybycycy_menu' %}">英语笔译常用词语</a></li>
            <li><a href="#about">敬请期待</a></li>
            <li><a href="#contact">敬请期待</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">敬请期待</a></li>
                <li><a href="#">敬请期待</a></li>
                <li><a href="#">敬请期待</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">敬请期待</li>
                <li><a href="#">敬请期待</a></li>
                <li><a href="#">敬请期待</a></li>
              </ul>
            </li>
          </ul>
          <a class="navbar-brand" style="float:right;font-size:15px" href="/logout">Log out</a>
          <div style="float:right;font-size:15px" class="navbar-brand">用户：{{user.username}}</div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
      {# 网站主体内容块 #}
      {% block body %}{% endblock body %}
    </div>

    <footer class="footer" style="height:auto;line-height:50px;">
      <div class="container">
        <p class="text-muted" style="font-size:50px;text-align:right">Jason Fighting!</p>
      </div>
    </footer>

    <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
    <script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.0.min.js"></script>
    <script>
  　　L2Dwidget.init({
  　　"model": {jsonPath:"https://unpkg.com/live2d-widget-model-haruto@1.0.5/assets/haruto.model.json","scale": 1 },
  　　"display": { "position": "right", "width": 50, "height": 100,"hOffset": 0, "vOffset": -20 },
  　　"mobile": { "show": true, "scale": 0.5 },
  　　"react": { "opacityDefault": 0.7, "opacityOnHover": 0.2 } });
    </script>
  {% block bottom_script %}{% endblock bottom_script %}
  </body>
</html>
